{% extends "base.html" %}
{% block title %}
	dashboard
{% endblock %}
{% block content %}
	<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Dashboard</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url "home" %}">Home</a></li>
                <li class="active">Username</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
{% include "inc/messages.html" %}
	<div class="main-title" style="text-align:left !important;">
            <h1>Welcome <span>User</span></h1>
            <p>Here are the cars that you have inquired about</p>
        </div>
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Car Name</th>
		  <th scope="col">Location</th>
		  <th scope="col">Price</th>
		  <th scope="col">Action</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <th scope="row">1</th>
		  <td>Lamborgini Huracan</td>
		  <td>Austin</td>
		  <td>$25000</td>
		  <td><a href="#" class="btn btn-outline-dark">View Car</a></td>
		</tr>
		<tr>
		  <th scope="row">2</th>
		  <td>Lamborgini Huracan</td>
		  <td>Austin</td>
		  <td>$25000</td>
		  <td><a href="#" class="btn btn-outline-dark">View Car</a></td>
		</tr>
		<tr>
		  <th scope="row">3</th>
		  <td>Lamborgini Huracan</td>
		  <td>Austin</td>
		  <td>$25000</td>
		  <td><a href="#" class="btn btn-outline-dark">View Car</a></td>
		</tr>
	  </tbody>
	</table>
</div>

<!--   Dashboard End   -->
{% endblock %}






{#<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
{#<script  src="js/ie10-viewport-bug-workaround.js"></script>#}
{#<!-- Custom javascript -->#}
{#<script  src="js/ie10-viewport-bug-workaround.js"></script>#}
{##}
{#<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>#}
{#<script>#}
{#    function LoadMap(propertes) {#}
{#        var defaultLat = 40.7110411;#}
{#        var defaultLng = -74.0110326;#}
{#        var mapOptions = {#}
{#            center: new google.maps.LatLng(defaultLat, defaultLng),#}
{#            zoom: 15,#}
{#            scrollwheel: false,#}
{#            styles: [#}
{#                {#}
{#                    featureType: "administrative",#}
{#                    elementType: "labels",#}
{#                    stylers: [#}
{#                        {visibility: "off"}#}
{#                    ]#}
{#                },#}
{#                {#}
{#                    featureType: "water",#}
{#                    elementType: "labels",#}
{#                    stylers: [#}
{#                        {visibility: "off"}#}
{#                    ]#}
{#                },#}
{#                {#}
{#                    featureType: 'poi.business',#}
{#                    stylers: [{visibility: 'off'}]#}
{#                },#}
{#                {#}
{#                    featureType: 'transit',#}
{#                    elementType: 'labels.icon',#}
{#                    stylers: [{visibility: 'off'}]#}
{#                },#}
{#            ]#}
{#        };#}
{#        var map = new google.maps.Map(document.getElementById("map"), mapOptions);#}
{#        var infoWindow = new google.maps.InfoWindow();#}
{#        var myLatlng = new google.maps.LatLng(40.7110411, -74.0110326);#}
{##}
{#        var marker = new google.maps.Marker({#}
{#            position: myLatlng,#}
{#            map: map#}
{#        });#}
{#        (function (marker) {#}
{#            google.maps.event.addListener(marker, "click", function (e) {#}
{#                infoWindow.setContent("" +#}
{#                    "<div class='map-properties contact-map-content'>" +#}
{#                    "<div class='map-content'>" +#}
{#                    "<p class='address'>20-21 Kathal St. Tampa City, FL</p>" +#}
{#                    "<ul class='map-properties-list'> " +#}
{#                    "<li><i class='flaticon-phone'></i>  +0477 8556 552</li> " +#}
{#                    "<li><i class='flaticon-phone'></i>  info@themevessel.com</li> " +#}
{#                    "<li><a href='index.html'><i class='fa fa-globe'></i>  http://www.example.com</li></a> " +#}
{#                    "</ul>" +#}
{#                    "</div>" +#}
{#                    "</div>");#}
{#                infoWindow.open(map, marker);#}
{#            });#}
{#        })(marker);#}
{#    }#}
{#    LoadMap();#}
{#</script>#}
{##}
{#</body>#}
{#</html>#}
