{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>NimaCar |{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->


  
</head>
{% include 'inc/link.html' %}
{% include "inc/headers/top_header.html" %}
{% include "inc/headers/main_header.html" %}
    {% block content %}

    {% endblock %}
<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="{% url "search" %}" class="search-header">
        <input type="search" value="" placeholder="type keyword(s) here. Eg: audi, benz etc" name="keyword"  / >
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>
{% include 'inc/footer.html' %}
{% include 'inc/scripts.html' %}
{% include "inc/head_script.html" %}  


</html>